stages:
  - build 
  - test
  - deploy

build:
   stage: build
   script :
     - echo "build"
   only:
     refs: 
       - tags

test:
  stage: test
  script: 
    - echo "test"
  except:
    - tags

deploy: 
  stage: deploy
  script:
    - echo "deploy"
  except:
    - /^xo-.*$/ 